.title {
    h1 {
        font-family: "Roboto", serif;
        font-size: 40px;
        text-align: center;
        margin: 25px 25px;
        padding-top: 15px;
        text-transform: uppercase;

    }

    .serNr {
        font-family: "Roboto", serif;
        font-size: 25px;
        text-align: center;
        margin: 25px 25px;
    }

    .date {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        font-family: "Roboto", serif;
        padding-right: 40px;
        font-size: 17px;
        font-weight: 700;

        span {
            font-weight: 500;
        }
    }

}

body {
    font-family: "Roboto", serif;
    width: 80%;
    margin-left: 150px;


    .logo {
        width: 300px;
        margin: 30px 0px;
    }

    .imoniuDuomenys {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        padding: 50px 18px;


        h3 {
            font-size: 25px;

        }
    }

    .sectionLentele {
        width: 100%;

        .lentele {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            border: 1px solid #ddd;

            th {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
                background-color: #f2f2f2;
            }

            td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }

        }

        .visoSuma {
            margin-top: 20px;
            text-align: right;

            p {
                font-size: 16px;
            }

            .viso {
                font-weight: bold
            }
        }
    }


}