.title {
    h1 {
        font-family: "Roboto", serif;
        font-size: 30px;
        text-align: center;
        margin: 15px 15px;
        padding-top: 15px;
        text-transform: uppercase;

    }

    .serNr {
        font-family: "Roboto", serif;
        font-size: 20px;
        text-align: center;
        margin: 15px 15px;
    }

    .date {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        font-family: "Roboto", serif;
        padding-right: 40px;
        font-size: 17px;
        font-weight: 700;

        p {
            line-height: 0;
        }


        span {
            font-weight: 500;
        }
    }

}

body {
    font-family: "Roboto", serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .sf {
        width: 70%;
        border: 1px solid rgba(161, 159, 159, 0.715);
        padding: 80px;

        .logo {
            width: 250px;
            margin: 10px 0px;
        }

        .imoniuDuomenys {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            padding: 15px 18px 25px 18px;
            line-height: 10px;


            h3 {
                font-size: 25px;

            }
        }

        .sectionLentele {
            width: 100%;

            .lentele {
                width: 100%;
                border-collapse: collapse;
                margin-top: 10px;
                border: 1px solid #ddd;

                th {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: center;
                    background-color: #f2f2f2;
                }

                td {
                    border: 1px solid #ddd;
                    padding: 8px;
                    text-align: center;
                }

            }

            .visoSuma {
                margin-top: 20px;
                text-align: right;

                p {
                    font-size: 16px;
                    font-weight: 400;
                }

                span {
                    font-weight: 800;
                }


                .viso {
                    font-weight: 900;

                }
            }
        }

        .saskaitaIsrase {
            padding-top: 15px;
            p{
                font-weight: 400;
                font-size: 15px;
                span{
                    font-weight: 700;
                }
            }
        }
    }
}